:root {
    --foreground: #7c7c7c;
    --background: #FFF2C0;
    --fontStack: "Courier";
}
* {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    font: inherit;
}
html {
    font-size: 150%;
    line-height: 1.75;
    background-color: var(--background);
    color: var(--foreground);
}
body {
    max-width: 40rem;
    margin: 0 auto;
    padding: 3rem;
    padding-bottom: 0;
}
.welcome {
    font-family: var(--fontStack);
    margin-bottom: 1.5rem;
    opacity: .7;
}
.notepad {
    font-family: var(--fontStack) !important;
    display: block;
    width: 100%;
    height: calc(100vh - 10rem);
    font: inherit;
    border: none;
    outline: none;
    color: inherit;
    background: transparent;
    resize: none;
}